@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin-top: 33px;
  font-size: 20px;
    border: none;
    padding: 2px 4px;
    border-radius: 9px;
    color: #6D7587;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
}

.App-header {
  background-color: #EBECF0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title{
  background: #EBECF0;
font-family: 'Montserrat Alternates', sans-serif;
color:#518bfe;
font-size: 20px;
text-align: center;
margin: auto;
display: block;
max-width: 511px;
/* border-radius: 50% !important; */
overflow: hidden;
margin: 0 auto;
border: none;
    padding: 21px 26px;
    border-radius: 9px;
    color: #6D7587;
    background-color: var(--back-color);
    /* box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), -2px -2px 4px 2px rgba(255, 255, 255, 1), inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1), inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important; */
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow .25s ease !important;
margin-top: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
