@font-face {
  font-family: 'acaslonpro-regular';
  src: local('acaslonpro-regular'), url(./fonts/acaslonpro-regular.otf) format('otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EBECF0;
}

html{
  overflow:hidden;
}
